/* https://fontawesome.com/v4.7.0/icons/ */

/* ==============
    layout 
================= */
html {
    margin: 0;
    padding: 0;
}

body {
    background: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;

}

#header {
    background: #1c9e49;
    border-bottom: 2px solid #17823a;
}

#main-content {
    padding-bottom: 50px;
}

#footer {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;

    background: #f2f2f2;
    border-top: 2px solid #d6d6d6;
}

a.navbar-brand {
    background-image: url(../logo.png);
    display: block;
    width: 100%;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 0;
    margin: 0;
}

#column2 {
    margin-top: 15px;
}


/* ==============
    typography 
================= */
h1 {
    font-size: 1.45em;
    line-height: 26px;
}

h2 {
    font-size: 1.4em;
    line-height: 26px;

}

h3 {
    font-size: 1.3em;
    line-height: 26px;
}

/* ==============
    design 
================= */

#main-content {
    background: #ffffff;
}

#page-title {
    padding: 15px;
    margin: 0;
}

article .article-meta {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 22px;
}

article .article-author {
    font-weight: bold;
    display: block;
}

article .article-date {
    color: #888888;
    display: block;
}

article .social-links ul {
    margin: 0 auto;
    padding: 0;
}

article .social-links ul li {
    list-style: none;
    float: left;

    font-size: 1.5em;
    margin: 0 3px;
}

article .social-links ul li a {
    padding: .15em .5em;
    color: #ffffff;
    text-decoration: none;
    display: block;
}

article .social-links .facebook-share {
    background: #0d5cc8;
}

article .social-links .twitter-share {
    background: #28aae1;
}

article .social-links .whatsapp-share {
    background: #00e676;
}

article .social-links .messenger-share {
    background: #3477E5;
}

article .summary {
    display: none;
}

.social-links.small li {
    border: none;
    padding: 0;
}

.social-links.small li.text {
    font-size: 14px;
    font-weight: bold;
}

.social-links ul li a {
    padding: .15em 1em;
    display: block;
}

.social-links ul li i.fa {
    padding: 0px 5px;
}

.article-image img {
    width: 100%  !important;
    height: auto !important;
}

.article-body {
    padding: 0 15px;
}

.article-body img {
    max-width: 100%;
    height: auto;
}

ul.article-list, 
.view-display-id-all_articles .article-small ul,
#block-footmali-blocks-popular-articles ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.article-list li,
.view-display-id-all_articles .article-small li,
#block-footmali-blocks-popular-articles li {
    border-bottom: 15px solid #efefef;
    padding: 15px;
}

.view-display-id-all_articles .article-small li.actu-articles {
    margin: 0;
}

.view-display-id-all_articles .article-small li.actu-articles .article-body {
    padding: 0;
}

.article-large ul.article-list li{
    padding: 0px;
}

.view-display-id-all_articles .social-links ul li {
    padding: 0px;
    border: 0;
}

ul.article-list .article-body,
ul.kopa-list .article-body {
    padding: 0;
}

ul.article-list .entry-title,
.view-display-id-all_articles .article-small .entry-title {
    line-height: 22px;
}

.article-small ul.article-list .entry-title,
.view-display-id-all_articles .article-small .entry-title {
    padding: 0;
    margin: 0;
}

.article-large ul.article-list .entry-title {
    padding: 15px 15px 30px;
    margin: 0;
}

ul.article-list .entry-title a, 
.view-display-id-all_articles .article-small .entry-title a,
#block-footmali-blocks-popular-articles .entry-title a {
    color: #333;
    text-decoration: none;
}

.article-small .article-image {
    float: right;
    width: 150px;
    margin-left: 15px;
    margin-bottom: 8px;
}

#block-footmali-blocks-homepage-headlines .widget-title,
#block-footmali-blocks-recent-and-popular-articles .widget-title,
#block-footmali-blocks-popular-articles .widget-title {
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #efefef;
    text-transform: uppercase;
    background: #1c9e49;
    color: #ffffff;
}

#block-footmali-blocks-homepage-headlines ul.article-list li,
#block-footmali-blocks-recent-and-popular-articles ul.article-list li,
#block-footmali-blocks-popular-articles li {
    border-bottom: 1px solid #efefef;
}

#block-footmali-blocks-homepage-headlines .article-image,
#block-footmali-blocks-recent-and-popular-articles .article-image,
#block-footmali-blocks-popular-articles .article-image {
    float: right;
    width: 150px;
    margin-left: 15px;
    margin-bottom: 8px;
}

#block-footmali-blocks-homepage-headlines .article-body .entry-title,
#block-footmali-blocks-recent-and-popular-articles .article-body .entry-title,
#block-footmali-blocks-popular-articles .article-body .entry-title  {
    margin: 0;
}

#footer-menu ul,
#header-menu ul {
    margin: 0 auto;
    padding: 0;
    display: table;
}

#footer-menu ul li,
#header-menu ul li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

#header-menu {
    display: none;
}

#footer-menu  a,
#header-menu  a {
    float: left;
    display: block;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 1.5em;
    line-height: initial;
    color: #8c8c8c;
}

#header-menu  a {
    color: #ffffff;
    padding: 5px 15px 0;
}

#header-menu a i.fa {
    font-size: .75em;
}

#footer-menu  a:hover, #footer-menu a:active, #footer-menu a.active {
    color: #1c9e49;
}

#footer-menu span.text,
#header-menu span.text {
    display: block;
    font-size: .5em;
}

#header-menu span.text {
    font-weight: bold;
}

.invisible {
    visibility: hidden;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

ul.pager  {
    list-style: none !important;
    text-align: center !important;
    margin: 0 auto !important;
    padding: 15px !important;
    max-width: 300px !important;
}

ul.pager li {
    display: inline;
    margin: 0 8px;
}

ul.pager li.pager-next a, 
ul.pager li.pager-previous a {
    color: #ffffff !important;
    display: inline-block;
    background: #1c9e49;
    padding: 8px;
    font-weight: bold;
    text-decoration: none !important;
    max-width: 90px;
}


ul.pager .pager-current {
    display: none;
}


.ads {
    width: 100%;
    min-height: 50px;
    margin: 8px 0;
    text-align: center;
}

.ads .heading {
    color: #888888;
    background: #d6d6d6;
    display: block;
    padding: 5px;
    font-size: 12px;
    line-height: 14px;
}

.click-feed {
    padding: 0 15px;
}

.cc-window {
    margin-bottom: 50px;
}

.page-video .entry-title, .page-actu #page-title {
    display: none;
}

.view-display-id-all_articles h3 {
    margin: 0;
    padding: 15px;
    background: #333;
    color: #ffffff;
}

.view-display-id-all_articles .article-image {
    height: 125px;
    overflow: hidden;
}

.view-display-id-all_articles .summary {
    clear: both;
}

.view-display-id-all_articles .social-links.small {
    clear: both;
    margin: 0 auto;
}

.view-display-id-video_player iframe {
    width: 100% !important;
    height: 210px;
}

.view-display-id-video_page .view-footer h4 {
    margin: 0 0 15px 0;
    padding: 0 15px 15px;
    border-bottom: 1px solid #efefef;
}

.view-display-id-video_page .item-list ul {
    margin: 0;
    padding: 0 15px;
}

.view-display-id-video_page .item-list ul li {
    list-style: none;
    margin-bottom: 15px;
    margin-left: 0;
}

.view-display-id-video_page .item-list ul li .video-thumbnail {
    float: left;
    width: 40%;
    max-width: 247px;
    display: block;
}

.view-display-id-video_page .item-list ul li .video-thumbnail img {
    width: 100%;
    height: auto;
}

.view-display-id-video_page .item-list ul li .video-title {
    float: right;
    width: 57%;
    padding-left: 3%;
}

.view-display-id-video_page .item-list ul li a {
    color: inherit;
    text-decoration: none;
    line-height: 20px;
}

.top-related-articles {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin-top: 20px;
}

.top-related-articles ul {
    padding: 0 0 0 15px;
    list-style-type: square;
}

.top-related-articles ul li {
    margin-bottom: 10px;
}

.top-related-articles ul li:last-child {
    margin-bottom: 0;
}

.top-related-articles a {
    color: #1c9e49;
}

#user-login {
    padding: 0 15px;
}

#user-login .form-item {
    margin-bottom: 15px;
}

#user-login input {
    max-width: 100%;
}

#user-login .description,
.page-user #admin {
    display: none;
}

#user-login input[type="submit"] {
    color: #ffffff !important;
    display: inline-block;
    background: #1c9e49;
    padding: 8px;
    font-weight: bold;
    text-decoration: none !important;
    border: none;
}

/* #block-footmali-blocks-featured-articles-2row .ads-wrapper {
    display: none !important;
}

#featured_article .adsbygoogle {
    display: none !important;
} */

/* ==============
    tablet 
================= */

@media (min-width: 768px) {

    a.navbar-brand {
        background-position-x: 0;
    }

    #main-content {
        max-width: 660px;
        margin: 0 auto;
    }

    #page-title {
        padding: 15px 25px;
    }

    .article-large {
        padding-top: 15px;
    }

    .article-body {
        padding: 0 25px;
    }

    .article-image img {
        max-width: 100% !important;
        height: auto !important;
    }

    article .summary {
        display: block;
    }

    #block-footmali-blocks-featured-articles-2row .article-large ul {
        border-bottom: 15px solid #efefef;
    }

    #block-footmali-blocks-featured-articles-2row .article-large li {
        border-bottom: 0; 
    }

    #block-footmali-blocks-featured-articles-2row .article-large li:first-child {
        float: left;
        width: 60%;
    }

    #block-footmali-blocks-featured-articles-2row .article-large li.ads-wrapper {
        margin-left: 60%;
    }

    .article-large .article-body {
        overflow: hidden;
    }

    .article-large article {
        padding: 0 15px 15px;
    }

    .article-large ul.article-list .entry-title,
    .article-small ul.article-list .entry-title,
    #block-footmali-blocks-homepage-headlines .article-body .entry-title,
    #block-footmali-blocks-recent-and-popular-articles .article-body .entry-title,
    .view-display-id-all_articles .article-small .entry-title {
        padding: 0;
        margin-bottom: 10px;
    }

    .front .article-small li {
        float: left;
        width: 45.45%;
        height: 210px;
        overflow: hidden;
    }

    .front .article-small li.ads-wrapper {
        float: none;
        clear: both;
        width: 100%;
        height: auto;
        padding: 0;
    }

    .page-node .article-image {
        padding: 0;
    }


    .view-display-id-all_articles .summary {
        clear: none;
    }

    .view-display-id-video_player iframe {
        width: 100% !important;
        height: 457px;
    }

    .view-display-id-video_page .item-list ul {
        text-align: center;
    }

    .view-display-id-video_page .item-list ul li.video-card,
    .view-display-id-video_page .ads {
        float: left;
        width: 48%;
        border: 1px solid #efefef;
        padding: 15px 0;
        height: 330px;
        overflow: hidden;
    }

    .view-display-id-video_page .ads {
        margin: 0 0 15px;
        min-height: auto;
        text-align: center;
    }

    .view-display-id-video_page .item-list ul li.video-card .video-thumbnail {
        float: none;
        width: auto;
        height: auto;
        display: block;
    }
    
    .view-display-id-video_page .item-list ul li.video-card .video-thumbnail img {
        max-width: 100%;
        width: auto;
        height: auto;
    }
    
    .view-display-id-video_page .item-list ul li.video-card .video-title {
        float: none;
        width: 240px;
        margin: 0 auto;
        padding: 0;
        display: block;
    }

    /* #featured_article .adsbygoogle {
        display: inline-block;
    } */

    .cc-window {
        margin-bottom: 0;
    }

}
/* ==============
    desktop 
================= */
@media (min-width: 928px) {
    #header nav, #main-content {
        max-width: 880px;
        margin: 0 auto;
    }

    #header-menu {
        display: block;
        float: right;
        margin-top: -50px;
    }

    #footer {
        display: none;
    }

    .view-display-id-video_page .item-list ul li.video-card,
    .view-display-id-video_page .ads {
        width: 33%;
    }

}

/* TEMP */
/* .ads,
li.ads-wrapper, */
.social-links {
    display: none!important;
}

/* ==============
    cookieconsent 
================= */
.cc-window {
    opacity: 1;
    transition: opacity 1s ease
}

.cc-window.cc-invisible {
    opacity: 0
}

.cc-animate.cc-revoke {
    transition: transform 1s ease
}

.cc-animate.cc-revoke.cc-top {
    transform: translateY(-2em)
}

.cc-animate.cc-revoke.cc-bottom {
    transform: translateY(2em)
}

.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover {
    transform: translateY(0)
}

.cc-grower {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s
}

.cc-link,.cc-revoke:hover {
    text-decoration: underline
}

.cc-revoke,.cc-window {
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 9999
}

.cc-window.cc-static {
    position: static
}

.cc-window.cc-floating {
    padding: 2em;
    max-width: 24em;
    -ms-flex-direction: column;
    flex-direction: column
}

.cc-window.cc-banner {
    padding: 1em 1.8em;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row
}

.cc-revoke {
    padding: .5em
}

.cc-header {
    font-size: 18px;
    font-weight: 700
}

.cc-btn,.cc-close,.cc-link,.cc-revoke {
    cursor: pointer
}

.cc-link {
    opacity: .8;
    display: inline-block;
    padding: .2em
}

.cc-link:hover {
    opacity: 1
}

.cc-link:active,.cc-link:visited {
    color: initial
}

.cc-btn {
    display: block;
    padding: .4em .8em;
    font-size: .9em;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    white-space: nowrap
}

.cc-banner .cc-btn:last-child {
    min-width: 140px
}

.cc-highlight .cc-btn:first-child {
    background-color: transparent;
    border-color: transparent
}

.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover {
    background-color: transparent;
    text-decoration: underline
}

.cc-close {
    display: block;
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 1.6em;
    opacity: .9;
    line-height: .75
}

.cc-close:focus,.cc-close:hover {
    opacity: 1
}

.cc-revoke.cc-top {
    top: 0;
    left: 3em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em
}

.cc-revoke.cc-bottom {
    bottom: 0;
    left: 3em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em
}

.cc-revoke.cc-left {
    left: 3em;
    right: unset
}

.cc-revoke.cc-right {
    right: 3em;
    left: unset
}

.cc-top {
    top: 1em
}

.cc-left {
    left: 1em
}

.cc-right {
    right: 1em
}

.cc-bottom {
    bottom: 1em
}

.cc-floating>.cc-link {
    margin-bottom: 1em
}

.cc-floating .cc-message {
    display: block;
    margin-bottom: 1em
}

.cc-window.cc-floating .cc-compliance {
    -ms-flex: 1;
    flex: 1
}

.cc-window.cc-banner {
    -ms-flex-align: center;
    align-items: center
}

.cc-banner.cc-top {
    left: 0;
    right: 0;
    top: 0
}

.cc-banner.cc-bottom {
    left: 0;
    right: 0;
    bottom: 0
}

.cc-banner .cc-message {
    -ms-flex: 1;
    flex: 1
}

.cc-compliance {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: space-between
}

.cc-compliance>.cc-btn {
    -ms-flex: 1;
    flex: 1
}

.cc-btn+.cc-btn {
    margin-left: .5em
}

@media print {
    .cc-revoke,.cc-window {
        display: none
    }
}

@media screen and (max-width: 900px) {
    .cc-btn {
        white-space:normal
    }
}

@media screen and (max-width: 414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape) {
    .cc-window.cc-top {
        top:0
    }

    .cc-window.cc-bottom {
        bottom: 0
    }

    .cc-window.cc-banner,.cc-window.cc-left,.cc-window.cc-right {
        left: 0;
        right: 0
    }

    .cc-window.cc-banner {
        -ms-flex-direction: column;
        flex-direction: column
    }

    .cc-window.cc-banner .cc-compliance {
        -ms-flex: 1;
        flex: 1
    }

    .cc-window.cc-floating {
        max-width: none
    }

    .cc-window .cc-message {
        margin-bottom: 1em
    }

    .cc-window.cc-banner {
        -ms-flex-align: unset;
        align-items: unset
    }
}

.cc-floating.cc-theme-classic {
    padding: 1.2em;
    border-radius: 5px
}

.cc-floating.cc-type-info.cc-theme-classic .cc-compliance {
    text-align: center;
    display: inline;
    -ms-flex: none;
    flex: none
}

.cc-theme-classic .cc-btn {
    border-radius: 5px
}

.cc-theme-classic .cc-btn:last-child {
    min-width: 140px
}

.cc-floating.cc-type-info.cc-theme-classic .cc-btn {
    display: inline-block
}

.cc-theme-edgeless.cc-window {
    padding: 0
}

.cc-floating.cc-theme-edgeless .cc-message {
    margin: 2em 2em 1.5em
}

.cc-banner.cc-theme-edgeless .cc-btn {
    margin: 0;
    padding: .8em 1.8em;
    height: 100%
}

.cc-banner.cc-theme-edgeless .cc-message {
    margin-left: 1em
}

.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn {
    margin-left: 0
}
