.kopa-entry-post article {
    -webkit-touch-callout: none;-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

article a {
    color: #1C9E49;
}

.social-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0 15px 0;
}

.social-login a {
    position: relative;
    width: calc(40% - 8px);
    display: block;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
}

.social-login a.facebook-action-connect {
    background-color: #49639F;
}

.social-login a i {
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
}

.widget.kopa-ads-widget{
    padding: 0;
}

.omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.sidebar .kopa-ads-widget{
    display: block;
}

/**
* Homepage
*/
#main-content {
  padding: 20px 0 0 0;
}

#main-content.custom {
    padding: 20px 0 0 0;
    background: #efefef;
}

.sidebar .article-list-6 .widget-content {
  padding: 1em;
}

.sync1 .entry-item .entry-content, .sync5 .entry-item .entry-content {
    bottom: 0;
}


/**
* main menu override
*/
.kopa-header-middle,
.kopa-header-middle.fixed {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
}

.main-menu, .main-menu-2 {
    position: relative;
    border: none;
    margin: 0;
    margin-left: 46.5%;
    width: 70%;
}

.main-menu > li, .main-menu-2 > li {
    float: left;
}

@media screen and (max-width: 1160px) {
    .main-menu, .main-menu-2 {
        margin-left: 35%;
    }
}

/*
* video page
*/

.view-display-id-video_page .view-header {
    margin-bottom: 20px;
    text-align: center;
}

.view-display-id-video_page .view-header h4.entry-title {
    text-align: left;
}

.view-display-id-video_page .attachment .view-footer {
    padding: 10px 15px 6px;
    border-bottom: 5px solid #ddd;
    margin-bottom: 15px;
}

/**
* teams views
*/

.view-id-ligue_1_teams .views-field-title {
    font-family: "Oswald",sans-serif;
    color: #333333;
    font-size: 24px;
    line-height: 32px;
    margin-left: 10px;
}

.view-id-ligue_1_teams .views-field-view-node {
    float: right;
    margin-right: 10%;
    font-family: "Oswald",sans-serif;
}

/**
* WC view
*/
h1.wc2018{
    background-image: url(../images/2018_FIFA_WC.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    padding-left: 118px;
    padding-top: 30px;
    margin-bottom: 1.5em;
}
h1.wc2018:after{
    border-bottom: 3px solid #e5e5e5;
    content: "";
    display: block;
    margin-top: 25px;
}

table.footmali-chart {
    width: 100%;
}

table.footmali-chart tr:hover {
    background: #1C9E49;
    opacity: 0.6;
    filter: Alpha(Opacity=60);
    color: #fff;
}

table.footmali-chart td {
   background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e0e0e0), to(#ececec));
   background: -webkit-linear-gradient(left, #e0e0e0, #ececec);
   background: -moz-linear-gradient(left, #e0e0e0, #ececec);
   background: -o-linear-gradient(left, #e0e0e0, #ececec);
   background: -ms-linear-gradient(left, #e0e0e0, #ececec);
   background: linear-gradient(left, #e0e0e0, #ececec);
   background-color: #e0e0e0;
   padding: 7px 15px;
}

table.footmali-chart td.center {
    text-align: center;
    padding: 6px;
}


/**
* Outbrain
**/
.ob-widget-header{
    display: none;
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }

    .view-display-id-video_page .view-header {
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    body{
        position: relative;
        font-size: 16px;
        line-height: 24px;
    }

    .main-nav-mobile .pull {
      margin: 16px 0 5px;
      background: transparent;
    }

    .kopa-header-middle.fixed .main-nav-mobile .pull {
      margin: 6px 0 5px;
    }

    .wrapper .spacer {
        display: none;
    }

    #main-content .wrapper {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    #bottom-sidebar {
        display: none;
    }
    #main-content.style1{
        background: none;
        padding: 0;
    }
    .kopa-article-list-widget {
        border: none;
        width: 100%;
    }
    .content-wrap {
        padding: 0;
    }

    .widget.kopa-ads-widget{
        padding: 0;
        margin: 0;
    }

    .kopa-article-list-widget .entry-content,
    .article-list-4 .entry-item .entry-content {
      padding: 1em 1em 2em;
    }

    .article-list-1 .post-share-link {
        bottom: 2em;
        right: 2em;
    }

    .entry-item .post-share-link ul {
      left: -20px;
      top: 30px;
    }

    .content-top .entry-title {
        font-size: 18px;
        line-height: 24px;
        margin: 0 0 15px;
    }

    .kopa-home-page article.entry-item footer {
        display: none;
    }

    .kopa-entry-post > article .entry-title {
        font-size: 24px;
        line-height: 32px;
    }

    .kopa-breadcrumb {
      display: none;
    }

    .kopa-breadcrumb,
    .kopa-tag-box,
    .single-other-post,
    .kopa-share-post,
    .not-front article .entry-categories,
    .not-front article .entry-title,
    .not-front article .entry-meta,
    .not-front article .short-des,
    .not-front article .field-name-body,
    #comments,
    .kopa-related-post {
      padding: 0 15px;
      margin-top: 20px
    }

    .sidebar {
        padding: 0 40px;
    }

    .not-front article .field-name-body p {
      font-size: 16px;
      line-height: 24px;
    }

    #mobile-pager {
      width: 100%;
      padding: 0 1em;
    }

    #mobile-pager .pager-button {
      border-color: #1C9E49;
      padding: 0;
      border-radius: 0;
    }

    #mobile-pager.two-button .pager-button {
      width: 50%;
    }

    #mobile-pager.one-button .pager-button {
      width: 100%;
    }

    #mobile-pager .pager-button a {
      color: #1C9E49;
      display: block;
      padding: 5px;
      font-size: 24px;
      font-weight: 900;
    }

    #kopa-footer {
      margin-bottom: 70px;
    }
    #mobile-footer-ad {
      width: 100%;
      height: 70px;
      position: fixed;
      bottom: 0;
      background-color: #CCCCCC;
      z-index: 10;
    }

    .headlines.responsive-ad {
      height: 300px;
    }

    /**
    * Player profile page
    */
    .node-type-player.kopa-main-col #player-image.col-xs-12 {
        text-align: center;
        margin-bottom: 1em;
    }

    /**
    * WC view
    */
    .custom-header{
        padding: 10px 20px;
    }
    h1.wc2018 {
        font-size: 1.25em;
        height: 80px;
        padding-left: 80px;
        padding-top: 20px;
        line-height: 1.5;
    }
    h1.wc2018:after {
        margin-top: 9px;
    }

    /**
    * Outbrain
    */
    .kopa-related-post .TF_6.ob-strip-layout .ob-dynamic-rec-container {
        width: 49%;
    }

    .kopa-related-post .TS_1.ob-widget .ob-dynamic-rec-container {

    }

}

/**
* Maintenance page
*/

html {
    font-family: 'Open Sans', sans-serif;
    /*background: url('../images/bg-top.png') no-repeat center fixed;*/
    background-size: cover;
}

body.maintenance-page{
    background: url('../images/stade26mars.jpg') no-repeat center fixed;
    background-size: cover;
    position: relative;
}

.maintenance-page #logo{
    width: 230px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
}

.maintenance-page #logo img{
    max-width: 100%;
}

.maintenance-page #content {
    position: relative;
    width: 370px;
    margin: auto;
    top: 55%;
    text-align: center;
    left: 0;
    right: 0;
}

.maintenance-page #alert{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 51px;
    border: 1px solid;
    background-color: #FFFFFF;
}

.maintenance-page #main-info {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #FFFFFF;
}

.maintenance-page .thumb-hover {
    width: 530px;
    right: 0;
    margin: auto;
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    transform: skew(-25deg);
    background: rgba(255, 255, 255, 0.1);

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    filter: Alpha(Opacity=0);
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/* hotfix */
.none_admin_user .messages {
    display: none;
}
